@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf') format('truetype');
  font-style: bold;
}

:root {
  --black: #151B24;
  --white: #FFFFFF;
  --primary: #8B3136;
  --primary-light: rgba(166, 61, 66, 0.6);
  --secondary: #E6CEA7;
  --secondary-light: #D9CEC0;
  --tertiary: #AEC59C;
}

html {
  color: var(--white);
  font-family: 'Ubuntu', sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to top, #151b24, #19202b, #1d2632, #202b3a, #243141);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

.name {
  color: var(--primary);
}

/* header */
header {
  position: sticky;
  display: flex;
  top: 24px;
  right: 50%;
  justify-content: center;
  margin: 3rem auto;
  z-index: 100;
}

header nav {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

header nav ul li {
  padding: 0.5rem 1rem;
  /* background-color: var(--black); */
  border-radius: 25px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

header nav ul li:hover {
  background-color: var(--black);
}