@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf') format('truetype');
  font-style: bold;
}

:root {
  --black: #151B24;
  --white: #FFFFFF;
  --primary: #be4f62;
  --primary-light: rgba(255, 175, 180, 0.8);
  --secondary: #E6CEA7;
  --secondary-light: #D9CEC0;
  --tertiary: #AEC59C;
}

html {
  color: var(--white);
  font-family: 'Ubuntu', sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to top, #151b24, #19202b, #1d2632, #202b3a, #243141);
}

main {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 2rem 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Bai Jamjuree', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

.name-one,
.name-two,
.name-three {
  display: none;
  border-right: 2px solid;
  white-space: nowrap;
  color: var(--primary);
  overflow: hidden;
}

.name-one {
  width: 4ch;
  animation: typing 1s, blink .5s infinite step-end alternate;
}

.name-two {
  width: 3.5ch;
  animation: typing 1s steps(var(--steps)), blink .5s infinite step-end alternate;
}

.name-three {
  width: 7.2ch;
  animation: typing 2s, blink .5s infinite step-end alternate;
}

/* header */
header {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
}

header nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 25px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

header nav a:hover {
  color: var(--primary-light);
  /*background-color: var(--black);*/
}

/* home */
.home,
.experience,
.projects,
.about-me {
  padding-top: 6rem;
}

.home__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 0 3rem;
}

.home__header__intro h1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
}

.home__header__intro .home__header__intro__rol {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary);
}

.home__header__intro p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  text-wrap: balance;
}

.home__header img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.home__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.home__footer p {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: var(--white);
}

.home__footer__contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.home__footer__contact ul li {
  background-color: var(--black);
  border: 2px solid var(--white);
  border-radius: 25px;
}

.home__footer__contact ul li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.home__footer__contact ul li:hover {
  background-color: var(--bg-btn);
  border: 2px solid var(--border-btn);
}

.home__footer__contact ul li:hover a {
  color: var(--black);
}

/* experience */
.experience h2,
.projects h2,
.about-me h2 {
  margin: 0 0 1rem;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--white);
}

.experience__item,
.projects__item,
.about-me__item {
  margin: 2rem 0 0;
}

.experience__item h3,
.projects__item h3 {
  margin: 1.5rem 0 1rem;
  color: var(--tertiary);
}

.experience__item__date {
  display: flex;
  gap: 1rem;
  /* margin: 1.5rem; */
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-light);
}

.experience__item__tech,
.projects__item__tech {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1.5rem 0;
}

.experience__item__tech li,
.projects__item a,
.projects__item__tech li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--black);
  border: 1px solid var(--border-tech);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}

.projects__item__tech li span {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.projects__item img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.projects__item a {
  display: inline-flex;
  margin-top: 1rem;
}

/* about me */
.about-me__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.about-me__item img {
  width: 300px;
  height: 300px;
  border-radius: 25px;
}

.about-me__item__content__highlights {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1.5rem 0;
}

.about-me__item__content__highlights div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid var(--white);
}

.about-me__item__content__highlights div span {
  display: inline-block;
  width: 24px;
  height: 24px;
}

#volleyball {
  background: url('../svg/volleyball.svg') no-repeat center/cover;
}

#book {
  background: url('../svg/book.svg') no-repeat center/cover;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  color: var(--secondary);
}

/* resalt text */
.primary-light {
  color: var(--primary-light);
}

.secondary {
  color: var(--secondary);
}

.secondary-light {
  color: var(--secondary-light);
}

.tertiary {
  color: var(--tertiary);
}

/* actions */
.active {
  display: inline-block;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (min-width: 768px) {
  /*header {*/
  /*  display: flex;*/
  /*}*/

  .home__header {
    flex-direction: row;
  }

  .home__header__intro h1 {
    flex-direction: row;
    gap: 1rem;
  }

  .about-me__item {
    flex-direction: row;
  }
}
